.planet{
    background-color: lightgray;
    display: grid;
    grid-template-columns: 20%vw 30%vw 30%vw 20%vw;
    column-gap: 15px;
    grid-template-rows: 100px 150px 300px 250px;
}
.dashBoardGrid{
    grid-area: 1/1/5/2;
    background-color: #0ea5e9;
    text-decoration: none;
    color: white;
    
}

.search{
    margin-top: 20px;
    margin-left: 50px;
    grid-area: 1/2/2/4;
}
.search input[type=text]{
    width:500px;
    height:25px;
    border-radius:25px;
    border: none;
}
.Name{
    font-size: 24px;
    align-self: center;
    margin-left: 25px;
}
.search button{
    float: left;
    cursor: pointer;
    height: 50px;
    width: 50px;
}
.topBox{
    margin-left: -15px;
    display: grid;
    grid-area: 1/2/3/5;
    background-color: aliceblue;
}

.dashBoard{
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 800;
    margin-top: 20px;
}
.dashBoardItems{
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
}
.notifcation{
    margin-top: 25px;
    mix-blend-mode: multiply;
}
.topRightInfo{
    grid-area: 1/4/2/5;
    display: flex;
    
}
.underSearchBar{
    display: flex;
    grid-area: 2/2/2/2;
    align-items: center;
}
.cat{
    mix-blend-mode: multiply;
}
.topRightButtons{
    grid-area: 2/4/2/5;
    display: flex;
    height: 50px;
    justify-content: space-between;
    
}
.rightButtons {
    font-weight: 700;
    font-size: 20px;
    color: white;
    border-radius: 25px;
    margin-right: 20px;
    background-color: #0ea5e9;
    border: 2px solid #0ea5e9;
    width: 100px;
    height: 50px;
    margin-top: 50px;
}