.planet{
    background-color: lightgray;
    display: grid;
    grid: 10vh
          10vh
          22.5vh 
          22.5vh
          22.5vh / 15vw 15vw 15vw 15vw 15vw;
    grid-row-gap: 2.1vh;
    grid-column-gap: 1vw;
    grid-auto-flow: row; 
    justify-content: center;

}
.dashBoardGrid{
    display: grid;
    grid-area: 1/1/6/2;
    background-color: rgb(2, 104, 104);
    color: white;
    justify-items: center;
}
.searchBar{
    display: grid;
    grid-area: 1/2/2/3;
    
}
.notifcation{
    align-self: center;
}
.cat{
    align-self: center;

}
.Name{

    justify-self: center;
    font-size: 3vw;
}
.topRightInfo{
    grid-area: 1/4/2/6;
    display: flex;
    justify-content: center;
}
.underSearchBar{
    grid-area: 2/2/2/3;
    grid-column: span 2;
    justify-content: center;
    align-self: center;
    display: flex;
}
.topUnderRightButtons{
    grid-area: 2/4/3/6;
    justify-self: center;
    align-self: center;

}
.announcements{
    display: grid;
    justify-items: center;
    grid-area: 3/5/6/6;
    background-color: crimson;
}
.Trending{
    grid-area: 5/5/6/6;
}
.rightButtons {
  margin: 2vh; 
  padding: 1vw 2vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 3vh;
}
.Projects{
    display: grid;
    grid-area: 3/2/6/5;
    grid: 22vh
          22vh
          22vh  / 15vw 15vw 15vw;
    grid-row-gap: 2.1vh;
    grid-column-gap: 1vw;
}
.ProjectChilds{
    height: auto;
    width: auto;
box-shadow: blue 0px 0px 0px 2px inset;
background-color: white;
box-shadow: yellow -5px -5px;}
.rightButtons:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
img{
    mix-blend-mode: multiply;
}
h3{
    justify-content: center;
    justify-self: center;
    margin: 1vh;
}
h2{
    margin: 1vh; 
    font-size: 1.7vw;
    display: Grid;
    align-content: center;
    justify-content: center;
}
h1{
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 2vw;
}
p{
    margin-left: 2px;
    margin-right: 2px;
    margin: 0px;
    display: flex;
    font-size: 1.1vw;
    justify-content: center;
}